{{#if addNewAnswer}}
<h3>Submit new answer:</h3>
<form>
  <div class="form-group">
    <label for="author">author</label>
    {{input type="text" id="author" value=author}}
  </div>
  <div class="form-group">
    <label for="content">Answer</label>
    {{input type="text" id="content" value=content}}
  </div>
  <button {{action 'saveAnswer'}}>Save</button>
</form>
{{else}}
  <button {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
